In [2]:
import pandas as pd

In [3]:
final_weather_stations = pd.read_csv('final_weather_stations.csv')
del final_weather_stations['Unnamed: 0']
final_weather_stations

           Stations  Latitude  Longtitude Location
0         aberporth    52.139      -4.570    South
1            armagh    54.352      -6.649  Central
2      ballypatrick    55.181      -6.153  Central
3          bradford    53.813      -1.772  Central
4           braemar    57.006      -3.396  Central
5          camborne    50.218      -5.327    South
6         cambridge    52.245       0.102    South
7           cardiff    51.488      -3.187    South
8          chivenor    51.089      -4.147    South
9        cwmystwyth    52.358      -3.802    South
10     dunstaffnage    56.451      -5.439  Central
11           durham    54.768      -1.585  Central
12       eastbourne    50.762       0.285    South
13      eskdalemuir    55.311      -3.206  Central
14         heathrow    51.479      -0.449    South
15             hurn    50.779      -1.835    South
16          lerwick    60.139      -1.183    North
17         leuchars    56.377      -2.861  Central
18        lowestoft    52.483       1.727    South
19          manston    51.346       1.337    South
20            nairn    57.593      -3.821    North
21       newtonrigg    54.670      -2.786  Central
22           oxford    51.761      -1.262    South
23          paisley    55.846      -4.430  Central
24          ringway    53.356      -2.279    South
25        rossonwye    51.911      -2.584    South
26         shawbury    52.794      -2.663    South
27        sheffield    53.381      -1.490    South
28      southampton    50.898      -1.408    South
29        stornoway    58.214      -6.318    North
30  suttonbonington    52.833      -1.250    South
31            tiree    56.500      -6.880  Central
32           valley    53.252      -4.535    South
33       waddington    53.175      -0.522    South
34           whitby    54.481      -0.624  Central
35      wickairport    58.454      -3.088    North
36        yeovilton    51.006      -2.641    South

In [4]:
final_stations = pd.read_csv('final_stations.csv')
del final_stations['Unnamed: 0']
final_stations

,Stations,Month,Tmax,Tmin,AF,Rain,Sun,Tmean,Notes,Year
0,aberporth,6.500,12.888889,7.687302,1.115079,78.828175,126.252613,10.288095,NaN,NaN
1,armagh,6.500,13.702381,6.274603,2.992063,69.495238,109.561508,9.988492,NaN,NaN
2,ballypatrick,6.500,11.864928,6.249531,1.625902,113.057143,NaN,9.057229,NaN,NaN
3,bradford,6.500,13.282143,6.448413,3.027778,74.966270,113.146429,9.865278,NaN,NaN
4,braemar,6.500,10.984524,3.012169,8.515873,78.164815,94.156944,6.998347,NaN,NaN
5,camborne,6.500,13.705556,8.704762,0.607143,88.967460,132.821429,11.205159,NaN,NaN
6,cambridge,6.500,15.036508,6.726190,3.214286,47.165476,128.657576,10.881349,NaN,NaN
7,cardiff,6.500,15.085317,7.323413,2.769841,100.413889,NaN,11.204365,NaN,NaN
8,chivenor,6.500,14.702850,8.017929,1.680014,79.007143,NaN,11.360390,NaN,NaN
9,cwmystwyth,6.125,11.787090,4.873422,5.296086,154.481250,99.250511,8.330256,NaN,NaN
10,dunstaffnage,6.500,12.875505,6.669781,2.273713,142.266835,104.537500,9.772643,NaN,NaN
11,durham,6.500,13.342063,5.894444,3.642857,58.225794,NaN,9.618254,NaN,NaN
12,eastbourne,6.500,14.797222,8.778571,1.162698,66.285714,157.776190,11.787897,NaN,NaN
13,eskdalemuir,6.500,11.564683,4.137302,6.507937,155.123413,91.185317,7.850992,NaN,NaN
14,heathrow,6.500,15.788889,7.955556,2.107143,52.755952,131.054365,11.872222,NaN,NaN
15,hurn,6.500,15.248413,6.383730,4.615079,73.825000,138.271032,10.816071,NaN,NaN
16,lerwick,6.500,9.943254,5.781349,2.210317,105.632857,91.820635,7.862302,NaN,NaN
17,leuchars,6.500,12.811905,5.416270,4.400794,61.498413,122.945238,9.114087,NaN,NaN
18,lowestoft,6.500,14.035709,7.550849,2.019384,53.850397,139.799692,10.793279,NaN,NaN
19,manston,6.500,12.857576,6.794877,2.452381,48.331133,123.803247,9.826227,NaN,1983.5
20,nairn,6.500,12.735830,5.231291,4.246465,56.581898,113.420820,8.983561,NaN,NaN
21,newtonrigg,6.500,12.699603,4.989683,5.035714,83.561905,NaN,8.844643,NaN,NaN
22,oxford,6.500,15.216270,7.157540,2.821429,57.173016,134.771429,11.186905,NaN,NaN
23,paisley,6.500,13.257937,6.438095,3.023810,103.805952,112.403175,9.848016,NaN,NaN
24,ringway,6.300,14.089667,7.026000,2.640000,77.169333,121.199000,10.557833,NaN,NaN
25,rossonwye,6.500,14.884127,6.883333,3.218254,65.534524,138.869583,10.883730,NaN,NaN
26,shawbury,6.500,14.025397,5.821032,4.488095,57.705556,113.788817,9.923214,NaN,NaN
27,sheffield,6.500,13.827381,7.044444,2.162698,70.252778,123.423810,10.435913,NaN,NaN
28,southampton,2.000,10.833333,3.700000,5.000000,43.166667,NaN,7.266667,NaN,NaN
29,stornoway,6.500,11.647475,6.279545,1.772727,101.993975,96.424531,8.963510,NaN,NaN
30,suttonbonington,6.500,14.430952,6.555159,3.396825,53.555159,NaN,10.493056,NaN,NaN
31,tiree,6.500,12.022222,7.190476,0.781746,105.744444,119.082576,9.606349,NaN,NaN
32,valley,6.500,13.440873,8.064286,1.468254,73.668651,130.730101,10.752579,NaN,NaN
33,waddington,6.500,13.989286,6.743651,2.773810,53.044048,131.189683,10.366468,NaN,NaN
34,whitby,6.500,13.458658,6.676551,2.332973,57.870527,139.911688,10.067605,NaN,NaN
35,wickairport,6.500,11.191667,5.532143,3.111111,65.296825,NaN,8.361905,NaN,NaN
36,yeovilton,6.500,15.000397,6.544444,4.043651,60.635317,127.871356,10.772421,NaN,NaN

In [5]:
# join the 2 dataframes of weather and stations, removing Notes and Year as these columns have mainly NANs values
uk_stations = pd.merge(final_stations, final_weather_stations, left_index=False,right_index=False, how='left')
del uk_stations['Notes']
del uk_stations['Year']
uk_stations

,Stations,Month,Tmax,Tmin,AF,Rain,Sun,Tmean,Latitude,Longtitude,Location
0,aberporth,6.500,12.888889,7.687302,1.115079,78.828175,126.252613,10.288095,52.139,-4.570,South
1,armagh,6.500,13.702381,6.274603,2.992063,69.495238,109.561508,9.988492,54.352,-6.649,Central
2,ballypatrick,6.500,11.864928,6.249531,1.625902,113.057143,NaN,9.057229,55.181,-6.153,Central
3,bradford,6.500,13.282143,6.448413,3.027778,74.966270,113.146429,9.865278,53.813,-1.772,Central
4,braemar,6.500,10.984524,3.012169,8.515873,78.164815,94.156944,6.998347,57.006,-3.396,Central
5,camborne,6.500,13.705556,8.704762,0.607143,88.967460,132.821429,11.205159,50.218,-5.327,South
6,cambridge,6.500,15.036508,6.726190,3.214286,47.165476,128.657576,10.881349,52.245,0.102,South
7,cardiff,6.500,15.085317,7.323413,2.769841,100.413889,NaN,11.204365,51.488,-3.187,South
8,chivenor,6.500,14.702850,8.017929,1.680014,79.007143,NaN,11.360390,51.089,-4.147,South
9,cwmystwyth,6.125,11.787090,4.873422,5.296086,154.481250,99.250511,8.330256,52.358,-3.802,South
10,dunstaffnage,6.500,12.875505,6.669781,2.273713,142.266835,104.537500,9.772643,56.451,-5.439,Central
11,durham,6.500,13.342063,5.894444,3.642857,58.225794,NaN,9.618254,54.768,-1.585,Central
12,eastbourne,6.500,14.797222,8.778571,1.162698,66.285714,157.776190,11.787897,50.762,0.285,South
13,eskdalemuir,6.500,11.564683,4.137302,6.507937,155.123413,91.185317,7.850992,55.311,-3.206,Central
14,heathrow,6.500,15.788889,7.955556,2.107143,52.755952,131.054365,11.872222,51.479,-0.449,South
15,hurn,6.500,15.248413,6.383730,4.615079,73.825000,138.271032,10.816071,50.779,-1.835,South
16,lerwick,6.500,9.943254,5.781349,2.210317,105.632857,91.820635,7.862302,60.139,-1.183,North
17,leuchars,6.500,12.811905,5.416270,4.400794,61.498413,122.945238,9.114087,56.377,-2.861,Central
18,lowestoft,6.500,14.035709,7.550849,2.019384,53.850397,139.799692,10.793279,52.483,1.727,South
19,manston,6.500,12.857576,6.794877,2.452381,48.331133,123.803247,9.826227,51.346,1.337,South
20,nairn,6.500,12.735830,5.231291,4.246465,56.581898,113.420820,8.983561,57.593,-3.821,North
21,newtonrigg,6.500,12.699603,4.989683,5.035714,83.561905,NaN,8.844643,54.670,-2.786,Central
22,oxford,6.500,15.216270,7.157540,2.821429,57.173016,134.771429,11.186905,51.761,-1.262,South
23,paisley,6.500,13.257937,6.438095,3.023810,103.805952,112.403175,9.848016,55.846,-4.430,Central
24,ringway,6.300,14.089667,7.026000,2.640000,77.169333,121.199000,10.557833,53.356,-2.279,South
25,rossonwye,6.500,14.884127,6.883333,3.218254,65.534524,138.869583,10.883730,51.911,-2.584,South
26,shawbury,6.500,14.025397,5.821032,4.488095,57.705556,113.788817,9.923214,52.794,-2.663,South
27,sheffield,6.500,13.827381,7.044444,2.162698,70.252778,123.423810,10.435913,53.381,-1.490,South
28,southampton,2.000,10.833333,3.700000,5.000000,43.166667,NaN,7.266667,50.898,-1.408,South
29,stornoway,6.500,11.647475,6.279545,1.772727,101.993975,96.424531,8.963510,58.214,-6.318,North
30,suttonbonington,6.500,14.430952,6.555159,3.396825,53.555159,NaN,10.493056,52.833,-1.250,South
31,tiree,6.500,12.022222,7.190476,0.781746,105.744444,119.082576,9.606349,56.500,-6.880,Central
32,valley,6.500,13.440873,8.064286,1.468254,73.668651,130.730101,10.752579,53.252,-4.535,South
33,waddington,6.500,13.989286,6.743651,2.773810,53.044048,131.189683,10.366468,53.175,-0.522,South
34,whitby,6.500,13.458658,6.676551,2.332973,57.870527,139.911688,10.067605,54.481,-0.624,Central
35,wickairport,6.500,11.191667,5.532143,3.111111,65.296825,NaN,8.361905,58.454,-3.088,North
36,yeovilton,6.500,15.000397,6.544444,4.043651,60.635317,127.871356,10.772421,51.006,-2.641,South

In [6]:
uk_stations.to_csv('uk_stations.csv')